<!DOCTYPE html>
<head>
  <title>Pusher Test</title>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <script>
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('84e4a1b554378879fa22', {
      encrypted: true
    });

    var user_channel = pusher.subscribe('users')
      , answer_pool  = pusher.subscribe('answer-pool');

    user_channel.bind('add_user', function(data) {
      alert(data.message);
    });

    answer_pool.bind('submit_answer', function (data) {
        alert(data.message);
    });
  </script>
</head>
