doctype html
html
  head
    title= title
    script(src='/javascripts/jquery-1.12.0.min.js')
    script(src='/javascripts/index.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
