body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.card, div.phpazarCard {
    display: inline-block;
    border: solid 1px #000;
    width: 110px;
    height: 160px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 7px;
}

div.phpazarCard {
    display: block;
    background-color: #000;
}

div.card:hover, div.phpazarCard:hover {
    opacity: 1;
}

div.card p, div.phpazarCard p {
    display: block;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    font: bold 14px/16px arial;
}

div.phpazarCard p {
    color: #fff;
}